@media screen and (max-width: 991px) {

    .socials {
        display: none;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;

    }

    .menu {

        display: flex;
        position: absolute;
        background-color: #FB6D48;
        right: -80%;
        top: 4.9rem;
        width: 40%;
        padding-block: 20px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;

    }



    .menu.active {
        right: 0;
    }

    .logo img {
        margin-left: 10px;
    }

    .menu ul {
        flex-direction: column;
        position: static;
        text-align: left;
    }


    .slideshow-container,
    .content-wrapper {
        height: auto;
        max-height: none;
    }
    .prev,
    .next {
        font-size: 14px; /* Adjust button size for mobile */
    }

    .btn{
        width: 100px;
        margin-left: 42%;
    }




}


/* Carousel */

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 991px) {
    .prev,
    .next,
    .text {
        font-size: 20px;

    }
    .slideshow-container{
        width:100%;
        height: 85vh;
    }
}

