body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* Remove this line or change it as needed */

}

.first {
    overflow: hidden;
    scroll-behavior: smooth;
}

nav {
    position: relative;
    margin: 0 auto;
    /* Center the navbar horizontally */
    padding: 0;
    background-color: white;
    text-align: center;
    /* Center align the inline elements */
    width: 100%;
    z-index: 1000;
    /* Ensure navbar spans the full width */
    margin-left: -1%;
}

nav ul li ul li:hover {
    background: white;
}

/* Background color change on Hover */
nav a:hover {
    background-color: #98C0D8;
}

#logo {
    display: inline-block;
    /* Display the logo inline */
    text-align: left;
    vertical-align: middle;
}

#logo img {
    width: 45%;
    margin-top: 5%;
}

.menu {
    display: inline-block;
    /* Display the menu inline */
    vertical-align: middle;
    /* Align the menu vertically */
    margin: 0;
    /* Remove margin to avoid unwanted spacing */
    padding: 0;
    /* Remove padding */
    font-size: 14px;
    position: relative;
}

.menu li {
    display: flex;
    display: inline-block;
    /* Display menu items inline */
    margin-right: 20px;
    /* Add spacing between menu items */
}

.menu li:last-child {
    margin-right: 0;
    /* Remove right margin from the last menu item */
}

.menu a {
    display: block;
    /* Make menu items block-level for better styling */
    padding: 14px 20px;
    /* Add padding to menu items */
    color: black;
    text-decoration: none;
}

/* Dropdown styles */
.menu ul {
    display: none;
    position: absolute;
    background-color: #293340;
    padding: 0;
    width: max-content;
    text-align: left;
}

.menu ul li {
    display: block;
    width: 100%;
}

.menu li:hover ul {
    display: block;
    color: white;
}

.menu ul li a {
    padding: 10px 20px;
    color: white;
}

.nav-toggle {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    /* Adjust the value as needed */
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: -0.5%;
    /* Adjust as needed */
    top: 50%;
    /* Align icons vertically */
    transform: translateY(-50%);
    font-size: 20px;
}

#main {
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    color: #000000;
}

#main h2 {
    color: #2e363A;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

#main h4 {
    color: #2e363A;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

#main p {
    color: #6F6b6b;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

#header .icon {
    font-size: 25px;
    margin-right: 10px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-left: 46.1%;
    margin-top: 2rem;
    width: 6%;
    padding: 1rem 1rem;
    border-radius: 0.3em;
    transition: 0.3s;
    background: #EA8537;
    font-family: "Gill Sans", sans-serif;

}

.btn:hover {
    background: #3A526A;
}

/* Carousel */

.mySlides {
    display: none;
}

.img2 {
    width: 100%;
    height: 80vh;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 82vh;
    position: relative;
    margin: auto;
    z-index: 0;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

/* 4 Part image */
#four {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Adjust as needed */
    grid-column-gap: 10px;
    /* Adjust as needed */
    align-items: start;
    max-width: 100%;
    /* Ensures the image grid doesn't overflow */
}

#four img {
    width: 80%;
    /* Ensure images stay within their container */
    height: auto;
    /* Maintain aspect ratio */
    margin-left: 20%;
    margin-top: 5%;
    transition: transform 0.3s ease;
}

#four img:hover {
    transform: scale(1.1);
    /* Increase the size on hover */
}

.four-content {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10%;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* Adjust as needed */
    grid-template-rows: auto;
    /* Adjust as needed */
    grid-gap: 10px;
    /* Adjust as needed */
    max-width: 100%;
    /* Ensures content wrapper doesn't overflow */
}


/* Text in front of carousel */
.container {
    position: relative;
    width: 100%;
    height: 83vh;
    /* Adjust height as needed */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50px;
    /* -200px;  Initial position off the screen */
    transform: translateY(-40%);
    z-index: 1;
    /* Place in front of carousel */
    animation: slideText 3s forwards;
    /* Animation to slide from left to right */
}

.mySlides:hover .text-overlay {
    display: block;
    /* Show text overlay when hovering over the slide */
}


.text-overlay h2,
.text-overlay h4 {
    margin: 0;
    color: white;
}

.text-overlay h1 {
    font-size: 30px;
}

/* Increase font size for laptop screens */


.text-overlay h4 {
    font-size: 40px;
    text-align: center;

}

.fouth-content h2 {
    text-align: center;
    /* Center text horizontally */
    height: 10vh;
    /* Adjust as needed */
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center verticall */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Adjust spacing between grid items */
    margin-left: 50px;


}


.three-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */

}

/* Style for images */
.three-part img {
    height: 40%;
    /* Adjust image height as needed */
    max-width: 100%;
    /* Ensure images don't exceed container width */

}

.three-part {
    justify-content: center;

}

.last img {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

.last p {
    margin-left: 10%;
  

}

.container4{
    display: flex;
}

#grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr; /* Three link sections and one main content section */
    gap: 100px; /* Adjust gap between sections as needed */
    margin-left: 12%;
    justify-content: center;

}

.links {
    display: flex;
    flex-direction: column;
  
}

.links a{
    text-decoration: none;
    margin-top: 10%;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.links:nth-child(2) a {
    margin-bottom: 40px; /* Add space between social media icons */
}
.last {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4; /* Span from the fourth column to the end */
}


.footer {
    margin-top: 3%;
    display: grid;
    background-color: lightgray;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Adjust the gap between partitions */
}

.footer-partition {
    margin-left: 10%;
    padding: 5px; /* Add padding to each partition */
    /* Add borders for better separation */
    border-radius: 5px; /* Add border radius for rounded corners */
    text-align: center;

}

.footer-partition p {
    margin: 1.5%; /* Remove default margin for paragraphs */
}

.copyright{
    width: 100%;
    background-color: #7ca4cd;
    padding: 1.5px;
    align-items: center;
    text-align: center;
    color: white;
}